h1 {
    font-family: 'Open Sans', sans-serif;
    color: #656565;
    font-weight: bold;
    float: left;
    margin-left: calc((calc(calc(100vw * 0.68) / 3.63) / 2) + 12px + 0.5vw);
    position: absolute;
    font-size: 14vw;
    bottom: -26vw;
}

a {
    font-family: 'Open Sans', sans-serif;
    color: #656565;
    font-size: 6vw;
    line-height: 10vw;
    font-weight: bold;
    text-decoration: none;
    display: block;
    float: left;
    left: 50%;
    width: 100%;
    margin-top: 70px;
    margin-left: calc((calc(calc(100vw * 0.68) / 3.63) / 2) + 12px + 0.5vw);
    transition: color .3s ease-in-out;
}

a:hover {
    color: #a8a8a8;
}

.itenteges {
    margin: auto;
}
@media screen and (min-width: 500px) {
    h1 {
        font-size: 65px;
        bottom: -90px;
        margin-left: calc((calc(calc(500px * 0.68) / 3.63) / 2) + 12px - 2px);
    }

    a {
        font-size: 30px;
        line-height: 30px;
        margin-left: -24px;
    }

    .itenteges {
        text-align: center;
    }
}

.logo {
    background-color: transparent;
    width: 100vw;
    height: 100vw;
    max-height: 500px;
    max-width: 500px;
    position: relative;
    margin: 2vh auto 0;
}

.ruler {
    width: calc(calc(100vw * 0.68) / 3.63);
    height: calc(100vw * 0.68);
    border: 12px solid #656565;
    border-radius: 6px;
    overflow: hidden;
}
@media screen and (min-width: 500px) {
    .ruler {
        width: calc(calc(500px * 0.68) / 3.63);
        height: calc(500px * 0.68);
    }
}

.ruler.grey {
    border-color: #a8a8a8;
}

.ruler.grey .bar {
    background-color: #a8a8a8;
}

.bar {
    height: 40vw;
    max-height: 11px;
    width: 60%;
    margin: 25% 0 25% -5%;
    background-color: #656565;
    border-radius: 10px;
    -webkit-animation: wave 3s infinite;
    animation: wave 3s infinite;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}

.bar:nth-child(3n),
.bar:nth-child(3n-1) {
    width: 40%;
}

.bar:nth-child(1) {
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
}

.bar:nth-child(2) {
    -webkit-animation-delay: 1.2s;
    animation-delay: 1.2s;
}

.bar:nth-child(3) {
    -webkit-animation-delay: 1.3s;
    animation-delay: 1.3s;
}

.bar:nth-child(4) {
    -webkit-animation-delay: 1.4s;
    animation-delay: 1.4s;
}

.bar:nth-child(5) {
    -webkit-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

.bar:nth-child(6) {
    -webkit-animation-delay: 1.6s;
    animation-delay: 1.6s;
}

.bar:nth-child(7) {
    -webkit-animation-delay: 1.7s;
    animation-delay: 1.7s;
}

.bar:nth-child(8) {
    -webkit-animation-delay: 1.8s;
    animation-delay: 1.8s;
}

.bar:nth-child(9) {
    -webkit-animation-delay: 1.9s;
    animation-delay: 1.9s;
}

.letter-i,
.letter-t {
    position: absolute;
    height: 100%;
    width: inherit;
    top: 0;
    overflow: hidden;
    left: calc((calc(calc(100vw * 0.68) / 3.63) / 2) + 12px + 0px);
}
@media screen and (min-width: 500px) {
    .letter-i,
    .letter-t {
        left: calc((calc(calc(500px * 0.68) / 3.63) / 2) + 12px + 1px);
    }
}

.letter-t .ruler {
    position: absolute;
    top: calc(calc(calc(100vw * 0.68) / 3.63) + 12px + 0px);
    left: calc(calc(calc(100vw * 0.68) / 3.63) + (2 * (12px + 0px)));
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
}
@media screen and (min-width: 500px) {
    .letter-t .ruler {
        top: calc(calc(calc(500px * 0.68) / 3.63) + 12px + 1px);
        left: calc(calc(calc(500px * 0.68) / 3.63) + (2 * (12px + 1px)));
    }
}

.letter-t .ruler.horizontal {
    -webkit-transform: translate(calc(calc(calc(100vw * 0.68) / 3.63) + (2 * (12px + 0px))), 0) rotate(-90deg);
    transform: translate(calc(calc(calc(100vw * 0.68) / 3.63) + (2 * (12px + 0px))), 0) rotate(-90deg);
    top: calc((calc(calc(100vw * 0.68) / 3.63) - 0px + 12px) * -1);
    left: calc(0px * 2);
}
@media screen and (min-width: 500px) {
    .letter-t .ruler.horizontal {
        -webkit-transform: translate(calc(calc(calc(500px * 0.68) / 3.63) + (2 * (12px + 1px))), 0) rotate(-90deg);
        transform: translate(calc(calc(calc(500px * 0.68) / 3.63) + (2 * (12px + 1px))), 0) rotate(-90deg);
        top: calc((calc(calc(500px * 0.68) / 3.63) - 1px + 12px) * -1);
        left: calc(1px * 2);
    }
}

.letter-i {
    margin-left: calc((12px + 0px) / 2 * -1);
}
@media screen and (min-width: 500px) {
    .letter-i {
        margin-left: calc((12px + 1px) * -1);
    }
}

.letter-i .ruler {
    -webkit-transform: rotate(180deg) scale(0.75);
    transform: rotate(180deg) scale(0.75);
    position: absolute;
    top: calc(calc(calc(100vw * 0.68) / 3.63) + 12px + 0px + 5.5vw);
}
@media screen and (min-width: 500px) {
    .letter-i .ruler {
        top: calc(calc(calc(500px * 0.68) / 3.63) + 12px + 1px + 27px);
    }
}
@-webkit-keyframes wave {
    30% {
        width: 0;
    }

    50% {
        width: 70%;
    }

    70% {
        width: 0;
    }
}
@keyframes wave {
    30% {
        width: 0;
    }

    50% {
        width: 70%;
    }

    70% {
        width: 0;
    }
}
